<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Pages</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                (click)="createPage()">
                <span class="ml-2 mr-1">Add new Page</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products gallery -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(pages$ | async) as pages">
                <ng-container *ngIf="pages.length > 0; else null">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            matSort
                            matSortDisableClear
                            class="inventory-grid z-10 sticky grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div [mat-sort-header]="'name'">Page Name</div>
                            <div>
                                Info
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(pages$ | async) as pages">
                            <ng-container *ngFor="let page of pages; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- Name -->
                                    <div>
                                        {{page.title}}
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="showStatus(page.identifier)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedPage?.id === page.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedPage?.identifier === page.identifier">
                                        <ng-container
                                            *ngTemplateOutlet="rowStatusTemplate; context: {$implicit: page}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <!-- Add product button -->



                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>

            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                    <!-- Add product button -->
                    <button
                        class="ml-4"
                        mat-flat-button
                        (click)="deployToProductiom()">
                        <span class="ml-2 mr-1">Deploy To Production</span>
                    </button>
                </div>
            </div>

            <ng-template
                #rowStatusTemplate
                let-page>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="pageForm">


                            <div class="flex flex-col sm:flex-row p-8">

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">

                                        <!-- Name -->

                                        <input hidden
                                               [formControlName]="'identifier'">
                                        <mat-label>Title</mat-label>
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'title'">
                                        </mat-form-field>

                                        <mat-label>Slug</mat-label>
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'slug'">
                                        </mat-form-field>

                                        <mat-label>Banner Image</mat-label>
                                        <div class="flex flex-col sm:flex-row p-8">
                                            <div class="relative flex items-center justify-center w-60 h-32 ring-4 ring-bg-card">
                                                <!-- Upload / Remove avatar -->
                                                <div id="bannerImage" class="absolute inset-0 bg-black bg-opacity-50 z-10" *ngIf = "this.bannerImage !== '' else defaultImage" >
                                                    <img [src]="this.bannerImage">
                                                </div>
                                                <ng-template #defaultImage>
                                                    <img src="https://via.placeholder.com/200.jpg">
                                                </ng-template>
                                                <div class="absolute inset-0 flex items-center justify-center z-20">


                                                    <div>
                                                        <!--
                                                        <input
                                                                id="avatar-file-input"
                                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                                type="file"
                                                                [multiple]="false"
                                                                [accept]="'image/jpeg, image/png'"
                                                                (change)="uploadAvatar(avatarFileInput.files, user.id)"
                                                                #avatarFileInput>
                                                                -->
                                                        <input
                                                            id="bannerImage-file"
                                                            type="hidden"
                                                            [formControlName]="'bannerImage'"
                                                        >

                                                        <input
                                                            id="bannerImage-file-input"
                                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                            type="file"
                                                            [multiple]="false"
                                                            [accept]="'image/jpeg, image/png'"
                                                            (change)="fileChangePage(page, 'bannerImage')"
                                                            #pageFileInput>
                                                        <label
                                                            class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                            for="bannerImage-file-input"
                                                            matRipple>
                                                            <mat-icon
                                                                class="text-white"
                                                                [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- SKU and Barcode -->
                                        <div class="space-y-4">
                                            <ng-container
                                                *ngFor="let content of pageForm.get('content')['controls'];let i = index; let first = first; let last = last; trackBy: trackByFn">
                                                <div class="relative flex">
                                                    <mat-label>Content</mat-label>
                                                    <editor

                                                        apiKey="cj6ml6v91591y201ycsikxncalmcr4l77ryq3mdxov7i2ywt"
                                                        [formControl]="content.get('content')"
                                                        [init]="{
                                             height: 500,
                                             menubar: true,
                                            plugins:
                                             'link',
                                             fontsize_formats: '8pt 9pt 10pt 11pt 12pt 14pt 18pt 20pt 22pt 24pt 26pt 28pt 36pt 48pt 72pt',
                                             font_formats: 'Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Poppins=symbol; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
                                             toolbar:
                                               'undo redo | fontsizeselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent link | removeformat | help'
                                           }"
                                                    ></editor>


                                                </div>
                                            </ng-container>
                                            <div
                                                class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                                                (click)="addContentAndImage()">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                                <span class="ml-2 font-medium text-secondary group-hover:underline">Add section</span>
                                            </div>
                                            <button
                                                mat-flat-button
                                                [color]="'primary'"
                                                (click)="updatePage()">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>
