<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Events</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                (click)="createEvent()">
                <span class="ml-2 mr-1">Add new Event</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products gallery -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(events$ | async) as events">
                <ng-container *ngIf="events.length > 0; else null">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            matSort
                            matSortDisableClear
                            class="inventory-grid z-10 sticky grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div [mat-sort-header]="'name'">Event Name</div>
                            <div>
                                Info
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(events$ | async) as teams">
                            <ng-container *ngFor="let event of events; trackBy: trackByFn">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- Name -->
                                    <div>
                                        {{event.name}}
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="showStatus(event.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedEvent?.id === event.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedEvent?.id === event.id">
                                        <ng-container *ngTemplateOutlet="rowStatusTemplate; context: {$implicit: event}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template
                #rowStatusTemplate
                let-event>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedEventForm">

                            <div class="flex flex-col sm:flex-row p-8">

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">

                                        <!-- Name -->

                                            <input
                                                hidden
                                                [formControlName]="'identifier'">
                                            <mat-label>Name</mat-label>
                                        <mat-form-field class="w-full">
                                            <input
                                                matInput
                                                [formControlName]="'name'">
                                        </mat-form-field>
                                        <!-- SKU and Barcode -->

                                        <div class="flex">

                                            <mat-label>Content</mat-label>
                                            <editor apiKey="cj6ml6v91591y201ycsikxncalmcr4l77ryq3mdxov7i2ywt" [formControlName]="'content'"
                                                    [init]="{
                                             height: 500,
                                             menubar: false,
                                             toolbar:
                                               'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
                                           }"
                                            ></editor>

                                        </div>
                                        <!-- SKU and Barcode -->
                                        <div class="flex">

                                            <mat-label>About</mat-label>
                                            <editor apiKey="cj6ml6v91591y201ycsikxncalmcr4l77ryq3mdxov7i2ywt" [formControlName]="'about'"
                                                    [init]="{
                                             height: 500,
                                             menubar: false,
                                             toolbar:
                                               'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
                                           }"
                                            ></editor>

                                        </div>

                                        <!-- SKU and Barcode -->
                                    </div>
                                </div>
                            </div>
                            <mat-label>Banner Image</mat-label>
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="relative flex items-center justify-center w-60 h-32 ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div id="bannerImage" class="absolute inset-0 bg-black bg-opacity-50 z-10" *ngIf = "this.bannerImage !== '' else defaultImage" >
                                        <img [src]="this.bannerImage">
                                    </div>
                                    <ng-template #defaultImage>
                                        <img src="https://via.placeholder.com/200.jpg">
                                    </ng-template>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">


                                        <div>
                                            <!--
                                            <input
                                                    id="avatar-file-input"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    type="file"
                                                    [multiple]="false"
                                                    [accept]="'image/jpeg, image/png'"
                                                    (change)="uploadAvatar(avatarFileInput.files, user.id)"
                                                    #avatarFileInput>
                                                    -->


                                            <input
                                                id="bannerImage-file"
                                                type="hidden"
                                                [formControlName]="'bannerImage'"
                                            >

                                            <input
                                                id="bannerImage-file-input"
                                                id="bannerImage-file-input"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="fileChangeEvent($event, 'bannerImage')"
                                                #eventFileInput>
                                            <label
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="bannerImage-file-input"
                                                matRipple>
                                                <mat-icon
                                                    class="text-white"
                                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-label>About</mat-label>
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="relative flex items-center justify-center w-60 h-32 ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div id="aboutImage" class="absolute inset-0 bg-black bg-opacity-50 z-10" *ngIf = "this.aboutImage !== '' else defaultImage" >
                                        <img [src]="this.aboutImage">
                                    </div>
                                    <ng-template #defaultImage>
                                        <img src="https://via.placeholder.com/200.jpg">
                                    </ng-template>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">


                                        <div>
                                            <!--
                                            <input
                                                    id="avatar-file-input"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    type="file"
                                                    [multiple]="false"
                                                    [accept]="'image/jpeg, image/png'"
                                                    (change)="uploadAvatar(avatarFileInput.files, user.id)"
                                                    #avatarFileInput>
                                                    -->


                                            <input
                                                id="aboutImage-file"
                                                type="hidden"
                                                [formControlName]="'aboutImage'"
                                            >

                                            <input
                                                id="aboutImage-file-input"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="fileChangeEvent($event, 'aboutImage')"
                                                #eventFileInput>
                                            <label
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="aboutImage-file-input"
                                                matRipple>
                                                <mat-icon
                                                    class="text-white"
                                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-label>Content</mat-label>
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="relative flex items-center justify-center w-60 h-32 ring-4 ring-bg-card">
                                    <!-- Upload / Remove avatar -->
                                    <div id="contentImage" class="absolute inset-0 bg-black bg-opacity-50 z-10" *ngIf = "this.contentImage !== '' else defaultImage" >
                                        <img [src]="this.contentImage">
                                    </div>
                                    <ng-template #defaultImage>
                                        <img src="https://via.placeholder.com/200.jpg">
                                    </ng-template>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">


                                        <div>
                                            <!--
                                            <input
                                                    id="avatar-file-input"
                                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                    type="file"
                                                    [multiple]="false"
                                                    [accept]="'image/jpeg, image/png'"
                                                    (change)="uploadAvatar(avatarFileInput.files, user.id)"
                                                    #avatarFileInput>
                                                    -->


                                            <input
                                                id="contentImage-file"
                                                type="hidden"
                                                [formControlName]="'contentImage'"
                                            >

                                            <input
                                                id="contentImage-file-input"
                                                id="contentImage-file-input"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="fileChangeEvent($event, 'contentImage')"
                                                #eventFileInput>
                                            <label
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="contentImage-file-input"
                                                matRipple>
                                                <mat-icon
                                                    class="text-white"
                                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="flex flex-col sm:flex-row p-8">
                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedProduct()">
                                    Delete
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Product updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedEvent()">
                                        Update
                                    </button>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>

        </div>
